<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <span>GameViewer</span>
  <span class="spacer"></span>
  <!-- <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>menu_vert</mat-icon>menu</button> -->
 
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>announcement</mat-icon>
        <span>Issues</span>
      </button>
      <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu_vert</mat-icon></button>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Tabs with Text</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 1">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet.....
        </div>
      </mat-tab>
      <mat-tab label="Tab 2">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet.....
        </div>
      </mat-tab>
      <mat-tab label="Tab 3" disabled>
        No content
      </mat-tab>
      <mat-tab label="Tab 4">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet.....
          <br />
          <br />
          Lorem ipsum dolor site amet, consectet....
        </div>
      </mat-tab>
      <mat-tab label="Tab 5">
        No content
      </mat-tab>
    </mat-tab-group>
      
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Tabs with icon labels</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <mat-icon>security</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.....
        </div>
      </mat-tab>
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <mat-icon>attach_file</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.....
        </div>
      </mat-tab>
      <mat-tab label="Tab 3" disabled>
        <ng-template mat-tab-label>
          <mat-icon>block</mat-icon>
        </ng-template>
        No content
      </mat-tab>
      <mat-tab label="Tab 4">
        <ng-template mat-tab-label>
          <mat-icon>loop</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.....
          <br />
          <br />
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.....
        </div>
      </mat-tab>
      <mat-tab label="Tab 4">
        <ng-template mat-tab-label>
          <mat-icon>build</mat-icon>
        </ng-template>
        No content
      </mat-tab>
      <mat-tab label="Tab 4">
        <ng-template mat-tab-label>
          <mat-icon>thumb_down</mat-icon>
        </ng-template>
        No content
      </mat-tab>
    </mat-tab-group>
      
  </mat-card-content>
</mat-card>

<!-- <mat-card>
  <mat-card-content>
    <h2 class="example-h2">Tabs with Text</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 1">
        <mat-card *ngFor="let spaceScreen of spaceScreens; let i = index">
          <img mat-card-image src="{{ spaceScreen.img }}">
          <mat-card-content>
            <p>abc {{ spaceScreen.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="likeMe(i)">
              <i class="material-icons md-18" [class.red-color]="spaceScreen.liked == '1'">favorite</i>LIKE
            </button>
          </mat-card-actions>
        </mat-card>
        
      </mat-tab>
      
    </mat-tab-group>
      
  </mat-card-content>
</mat-card> -->
<br />
<br />

<button (click)='getData()'>Fetch</button>
<table>
  <tbody>
      <tr>
          <th>
            Spacescreen
          </th>
        </tr>
    <tr *ngFor='let space of spaceScreens$ | async'>
      <td>
        {{ space.description }} {{ space.liked }}
      </td>
    </tr>
    
  </tbody>
</table>
